.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
.box{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.button {
    margin: 20px;
    background-color:rgb(12, 97, 131);
    border-color:rgb(12, 97, 131) ;
    padding: 8px;
    
    border-radius: 10px;
}
